
.menu{
    width: 100%;
    height: 70px;
    background: #252932;
    padding: 0px 200px;
    margin-top: -50px;
}

.contenido {
    max-width: 1200px;
    margin: 60px;
    height: 100%;
}

.contenido nav {
    height: 100%;
}

.contenido nav > ul {
    height: 100%;
    display: flex;
}

.contenido nav > ul > li {
    height: 100%;
    list-style: none;
    position: relative;
}

.contenido nav > ul > li > a {
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    transition: all 300ms ease;
}

.contenido nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #42208C; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.contenido nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #252932;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

.contenido nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.contenido nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #252932;
    position: absolute;
    top: -12px;
    left: 20px;
}

.contenido nav ul li ul li a {
    display: block;
    color: #fff;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.contenido nav ul li ul li {
    list-style: none;
}

.contenido nav ul li ul li a:hover {
    background: #42208C;
    color: aliceblue;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
